<div class="d-flex flex-column container-box register">
  <h2 class="pb-3">Register</h2>
  <form class="d-flex flex-column align-items-center" [formGroup]="form">
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <mat-icon matPrefix>email</mat-icon>
      <input matInput formControlName="email" />
      <mat-error *ngIf="form.get('email')?.hasError('required')"
        >This field cannot be blank</mat-error
      >
      <mat-error *ngIf="form.get('email')?.hasError('pattern')"
        >Please use valid Email format</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-icon matPrefix>person_outline</mat-icon>
      <mat-label>Username</mat-label>
      <mat-error *ngIf="form.get('userName')?.hasError('required')"
        >This field cannot be blank</mat-error
      >
      <mat-error *ngIf="form.get('userName')?.hasError('minlength')"
        >Username should contain at least 6 symbols.</mat-error
      >
      <input matInput formControlName="userName" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-icon matPrefix>lock_outline</mat-icon>
      <mat-label>password</mat-label>
      <input matInput formControlName="password" type="password" />
      <mat-error *ngIf="form.get('password')?.hasError('required')"
        >This field cannot be blank</mat-error
      >
      <mat-error *ngIf="form.get('password')?.hasError('minlength')"
        >Username should contain at least 6 symbols.</mat-error
      >
    </mat-form-field>

    <mat-radio-group
      aria-label="Select a Gender"
      formControlName="gender"
      class="d-flex gap-3"
    >
      <mat-radio-button value="'Female'">Female</mat-radio-button>
      <mat-radio-button value="'Male'">Male</mat-radio-button>
    </mat-radio-group>

    <button
      mat-raised-button
      color="primary"
      class="mt-4"
      type="submit"
      (click)="registerUser()"
    >
      Register
    </button>
  </form>

  <a class="badge badge-primary mt-3" (click)="openLogin()"
    >Already have an Account?</a
  >
</div>

<app-spinner *ngIf="isSubmitting$ | async"></app-spinner>
