:host {
  display: block;
  height: 100%;
}
.container-box {
  max-width: 500px;
  margin: 0 auto;
  &.register {
    padding-top: 130px;
  }
}

form {
  mat-form-field,
  mat-radio-group {
    width: 100%;
  }
  button {
    width: 200px;
    align-self: end;
  }
}

.badge {
  font-size: 14px;
  color: black;
}
