<div class="d-flex flex-column container-box">
  <h2 class="pb-3">Login</h2>
  <form class="d-flex flex-column" [formGroup]="form">
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" />
      <mat-icon matPrefix>email</mat-icon>
      <mat-error *ngIf="form.get('email')?.hasError('required')"
        >This field cannot be blank</mat-error
      >
      <mat-error *ngIf="form.get('email')?.hasError('email')"
        >Please use valid Email format</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>password</mat-label>
      <input matInput formControlName="password" type="password" />
      <mat-icon matPrefix>lock_outline</mat-icon>
      <mat-error *ngIf="form.get('password')?.hasError('required')"
        >This field cannot be blank</mat-error
      >
    </mat-form-field>
    <div>
      <button mat-raised-button color="warn" (click)="cancel()">Cancel</button>
      <button class="btn btn-primary" type="submit" (click)="login()">
        Login
      </button>
    </div>
  </form>

  <a routerLink="/register" class="badge badge-primary mt-3"
    >Not Registered?!</a
  >
</div>

<app-spinner *ngIf="isSubmitting$ | async"></app-spinner>
