<div class="d-flex flex-column container-box">
  <h2>Register</h2>
  <form class="d-flex flex-column" [formGroup]="form">
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>password</mat-label>
      <input matInput formControlName="password">
    </mat-form-field>

    <button class="btn btn-primary" type="submit" (click)="login()">Login</button>
  </form>
</div>



