mat-toolbar,
.container-box,
mat-sidenav-container,
mat-sidenav {
  //background: #fff;
  font-size: 16px;
  font-family: "poppins-regular";
  color: #2a2a2a !important;
}

mat-toolbar {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.container-box {
  width: 100%;
  .logo-container {
    min-width: 77px;
    width: 77px;
    img {
      width: 100%;
    }
  }

  .search-box {
    width: 268px;
    .search-icon {
      left: 90%;
    }
  }
}
.main-sidenav {
  height: 100%;
  mat-sidenav {
    width: 234px;
    ::ng-deep .mat-list-item-content {
      gap: 5px;
    }
  }
}
