.container-box {
  width: 100%;
  .logo-container {
    min-width: 77px;
    width: 77px;
    img {
      width: 100%;
    }
  }

  .search-box {
    ::ng-deep .mat-focused {
      background-color: unset !important;
    }
    width: 268px;
    .search-icon {
      left: 90%;
    }
  }
}

mat-toolbar {
  position: fixed;
  z-index: 200;
}

mat-list-item {
  .search-icon {
    right: 0;
  }
}
