/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap";
@import "~ngx-toastr/toastr";
@import "./material";
@import "./color-palette";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@font-face {
  font-family: "poppins-regular";
  src: url("assets/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "poppins-light";
  src: url("assets/fonts/Poppins/Poppins-Light.ttf") format("truetype");
}

@font-face {
  font-family: "poppins-medium";
  src: url("assets/fonts/Poppins/Poppins-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "poppins-italic";
  src: url("assets/fonts/Poppins/Poppins-Italic.ttf") format("truetype");
}

html,
body {
  margin: 0;
  height: 100%;
  font-family: "poppins-regular";
}

a {
  color: unset !important;
  text-decoration: none !important;
  cursor: pointer;
}

.pointer {
  cursor: pointer;
}

a:hover,
.mat-list-item:not(.search-item):hover {
  color: $indigo !important;
  .mat-icon {
    filter: invert(18%) sepia(70%) saturate(2886%) hue-rotate(226deg)
      brightness(101%) contrast(74%);
  }
}
